* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

header {
    position: relative;
    color: white;
    height: calc(100vh - 5px);
    width: 100%;
}

header .backvideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

header .backvideo video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

nav {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 130;
}

nav.hidden {
    transform: translateY(-100%);
}

nav .logo {
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
    color: white;
    transition: 0.5s;
}

nav .logo:hover {
    color: rgb(221, 221, 221);
}

nav .links {
    display: flex;
    align-items: center;
}

nav .hamburg-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hamburg {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 20px;
    position: relative;
    cursor: pointer;
}

.hamburg span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.5s;
    transform: translateY(-50%);
}


.hamburg .one {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}

.hamburg .two {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
}

.navmobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
    padding: 70px 0 20px 20px;
    z-index: 120;
    transform: translateX(-100%);
    transition: 0.5s;
}

.navmobile.transf {
    transform: translateX(0);
}

.navmobile .suport {
    color: black;
    display: flex;
    align-items: center;
}

.navmobile .suport span {
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navmobile a {
    color: black;
    display: flex;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 500;
}

nav .links a {
    display: block;
    color: white;
    font-size: 14px;
    transition: 0.5s;
    padding: 10px 15px;
    position: relative;

}

nav .links a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s;
}

nav .links a:hover::before {
    width: 100%;
}

nav .links a:hover {
    color: rgb(230, 230, 230);
}

nav .user {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

nav .user i {
    cursor: pointer;
}

header .content {
    padding-left: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header .content p:first-of-type {
    font-size: 50px;
    line-height: 1.3;
}

header .content p:last-of-type {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
}

header .content button {
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    margin-top: 40px;
    border: 1px solid transparent;
}

header .content button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: 0.5s;
    z-index: -1;
}

header .content button:hover::before {
    width: 100%;
}

header .content button:hover {
    color: white;
    border-color: white;
    background-color: transparent;
}

header .fa-pause,
header .fa-play {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

header .products {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    color: black;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    align-items: center;
    justify-content: center;
    gap: 60px;
    transition: 1s;
}

header .products.active {
    opacity: 1;
}

header .products .product {
    cursor: pointer;
    text-align: center;
}

header .products .product p {
    margin: 0;
    font-size: 14px;
    transition: 0.3s;
}

header .products .product img {
    width: 60px;
    transition: 0.3s;
}

header .products .product:hover p {
    color: #777;
}

header .products .product:hover img {
    opacity: 0.8;
}


/* Page Login */

.pagelogin {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 800px;
    margin-inline: auto;
    border-radius: 10px;
    z-index: 150;
}

.pagelogin.active {
    display: block;
}

.pagelogin .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #cecece;
}

.pagelogin .title h3 {
    font-weight: 500;
    font-size: 20px;
    word-spacing: 2px;
}

.pagelogin .title h2 {
    width: 19px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}

.pagelogin .orloginwith {
    padding: 20px;
}

.pagelogin .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagelogin .orloginwith p {
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 19px;
    margin-bottom: 20px;
}

.pagelogin .social .google,
.pagelogin .social .Apple {
    flex-basis: 48%;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.pagelogin .social .google:hover,
.pagelogin .social .Apple:hover {
    opacity: 0.7;
}

.pagelogin .social .google img,
.pagelogin .social .Apple img {
    width: 25px;
}

.createacount {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 130px;
    border-bottom: 1px solid #cecece;
}

.createacount .signin {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    align-items: center;
    border-right: 1px solid #cecece;
}

.createacount .signin p:first-of-type {
    font-weight: 500;
    word-spacing: 2px;
    font-size: 20px;
    margin-bottom: 20px;
}

.createacount .signin p:nth-of-type(2) {
    font-size: 10px;
    color: #777;
    margin-bottom: -10px;
}

.createacount .signin input[type="email"],
.createacount .signin input[type="password"] {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    outline-color: dodgerblue;
    border-radius: 5px;
}

.createacount .signin p:last-of-type::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06e";
    color: #777;
    position: absolute;
    right: 8px;
    bottom: 52px;
    cursor: pointer;
}


.createacount .signin p:last-of-type {
    margin: 20px;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.createacount .signin button {
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
}


.createacount .signin button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.5s;
    background-color: white;
    mix-blend-mode: difference;
}

.createacount .signin button:hover {
    border-color: black;
}

.createacount .signin button:hover::before {
    width: 100%;
}


.createacount .signup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.createacount .signup p {
    font-size: 18px;
    font-weight: 500;
    word-spacing: 3px;
    margin-bottom: 20px;
}

.createacount .signup button {
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    cursor: pointer;
}

.createacount .signup button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.5s;
    background-color: white;
    mix-blend-mode: difference;
}

.createacount .signup button:hover {
    border-color: black;
}

.createacount .signup button:hover::before {
    width: 100%;
}

/* Page Login */

@media (max-width:1280px) {
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .createacount .signin {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #cecece;
    }

    .createacount .signup {
        width: 100%;
    }

    .createacount {
        gap: 15px;
        flex-direction: column;
    }

    .pagelogin {
        width: 600px
    }

    .createacount .signup button {
        width: 100%
    }
}

@media (max-width:1000px) {
    nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav .links {
        display: none;
    }

    .hamburg {
        display: flex;
    }

    .navmobile {
        display: flex;
    }

    header .products {
        display: none;
    }

    .createacount {
        flex-direction: column;
    }
}

@media (max-width:770px) {
    nav .user i.fa-location-dot {
        display: none;
    }

    header .content {
        padding-left: 20px;
    }

    header .content p:first-of-type {
        font-size: 40px;
    }

    header .content p:last-of-type {
        font-size: 40px;
    }

    header .content button {
        border: none;
        padding: 15px 20px;
    }

    .navmobile {
        width: 70%;
    }

    .pagelogin {
        width: 95%;
    }

    .pagelogin .social {
        flex-direction: column;
        gap: 15px;
    }

    .pagelogin .social .google,
    .pagelogin .social .Apple {
        width: 100%;
    }
}